* {
	font-family: Arial,"sans-serif";
  font-size: 13px;
}
body{
  margin: 0px;
}

a{
	color:inherit;
	text-decoration: none;
}
.hero{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#navbar {
	display: flex;
	justify-content: flex-end;
  line-height: 24px;
  align-items: center;
  padding: 0 12px 0 0;
}
.headerlink{
  color: #211f1f;
  padding-right: 20px;
  text-decoration: none;
}

a.headerlink:hover{
	text-decoration: underline;
}

.apps{
  width:18px;
  margin: 0 4px 0 4px;
}
.signin{
  font-weight: bold;
  color: #ffffff;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  padding: 8px 14px 8px 14px;
  border: solid 1px;
  border-color: #4285f4;
  margin: 20px 20px 20px 20px;
  border-radius: 2px;
}

button.signin:hover{
border: 1px solid #3573D9;
box-shadow: 0 1px 2px #CCC;
}

.element{
	width: 30px;
	height: 30px;
	background-color: blue;
}

.main{
	width:50%;
	min-width: 450px;
	margin: auto;
	text-align: center;
}

/*.micro{
  z-index: 2;
  position: absolute;
  width: 24px;
  left: 560px;
  top: 450px;
}
*/
#ff{
	display: flex;
	/*justify-content: space-around;*/
  background-color: #f2f2f2;
  line-height: 42px;
}

.ff-element{
	color: #5f6368;
	padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

a.ff-element:hover{
	text-decoration: underline;
	color: #63686D;
}

.ff-element:nth-child(3){
    flex: 1;
}
.france{
  color: #72767b;
	padding-left: 20px;
  font-size: 15px;
  font-weight: 200;
  background-color: #f2f2f2;
  line-height: 42px;
  border: solid 1px;
  border-color: #e2e0e0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo{
	/*width: 42%*/
  width: 55%
}

.inputform{
	font-size: 16px;
	width: 560px;
    height: 42px;
    padding-left: 10px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
*:focus{
  outline: none;
}

.summitbutton{
font-weight: bold;
color: #757575;
background-color: #f2f2f2;
padding: 10px 16px 10px 16px;
border: solid 1px;
border-color: #f1f1f1;
margin: 20px 4px 20px 4px;
border-radius: 2px;
}

button.summitbutton:hover{
border: 1px solid #CCC;
color:#222;
box-shadow: 0 1px 2px #CCC;
}

.offered{
  color: #222;
}

.français{
  color: #1a0dab;
  text-decoration: none;
}

a.français:hover{
	text-decoration: underline;
}


